*{
	padding: 0;
	margin: 0;
}

#container{
	width: 1000px;
	margin: 0 auto;
	/*background-color: #cce198;*/
	/*text-align: center;*/
	line-height: 40px;
}

#header{
	border: 1px solid;
	/*margin: 50px;*/
	padding:10px;
}

#main{
	margin: 30px 0;
}

#sidebar{
	float: left;
	width: 300px;
	border: 1px solid;
	padding: 10px;
	text-align: center;
}

#content{
	float:right;
	width: 630px;
	overflow: hidden;
	border: 1px solid;
	padding: 10px;
}

#footer{
	border: 1px solid;
	clear: both;
	padding:10px;
	margin-top: 100px;
}

li{
	list-style-position: inside;
	color:red;
}

h2,h1{
	text-align: center;
}

#box1{
	width:170px;
	height:190px;
	line-height: 1em;
	margin: 0 auto;
	position: relative;
}
#box2{
	color: #66ccff;
	width:99%;
	position:absolute;
	top:0;
	
}

#verifyCode{
	background-color: #66ccff;
	text-align: center;
	line-height: 400%;
}

#codeNumber{
	font-size: 300%;
}
